@import "tailwindcss";

@font-face {
  font-family: "Plagiata";
  src: url("/fonts/Plagiata.otf");
  font-weight: normal;
  font-style: normal;
}

.font-plagiata {
  font-family: "Plagiata", sans-serif;
}

/* General animation class */
.animate-all {
  transition: all 0.2s ease-in-out;
}

/* Shadow classes */
.typescript-shadow:hover {
  box-shadow: 0 10px 15px -3px #007accc7;
}

.react-shadow:hover {
  box-shadow: 0 10px 15px -3px #61dafbc7;
}

.html-shadow:hover {
  box-shadow: 0 10px 15px -3px #e44d26c7;
}

.javascript-shadow:hover {
  box-shadow: 0 10px 15px -3px #f0db4fc7;
}

.tailwind-shadow:hover {
  box-shadow: 0 10px 15px -3px #38bdf8c7;
}

.express-shadow:hover {
  box-shadow: 0 10px 15px -3px #ffffffc7;
}

.node-shadow:hover {
  box-shadow: 0 10px 15px -3px #5fa04ec7;
}

.mongodb-shadow:hover {
  box-shadow: 0 10px 15px -3px #4faa41c7;
}

.postgres-shadow:hover {
  box-shadow: 0 10px 15px -3px #336791c7;
}

.linux-shadow:hover {
  box-shadow: 0 10px 15px -3px #ffffffc7;
}

.git-shadow:hover {
  box-shadow: 0 10px 15px -3px #f34f29c7;
}

.github-shadow:hover {
  box-shadow: 0 10px 15px -3px #ffffffc7;
}

.framer-motion-shadow:hover {
  box-shadow: 0 10px 15px -3px #f0db4fc7;
}

.godot-shadow:hover {
  box-shadow: 0 10px 15px -3px #478cbfc7;
}

/* End of Shadow classes  */

html {
  scroll-behavior: smooth;
}

/* This removes css styles from elements with the classname markdown */
/* Used to display markdown files. */
.markdown > * {
  all: revert;
  margin: 0;
}

/* A custom thin scroll bar with a black thumb and white track */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f1f1f1;
}
